
//large
@media (min-width:$largeDevices){
    .section-home{
        margin:30px 5%;
    }
    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3% 0px;
    }
    //more responsive
    .greetings{
        min-width: 50%;
        h1{
            font-size: 4rem;
        }
        span{
            padding: 10px 20px;
            background: $yellow;
            color: $darGrey;
            text-align: center;
            border-radius: 2vh;
            font-size: 15pt;
            margin-right: 20px;
        }
    }
    .social-media{
        margin-top: 20px;
        i{
            cursor: pointer;
            padding: 20px;
            background: $darGrey;
            color: $darkWhite;
            font-size: 15pt;
            margin-right: 20px;
            &:hover{
                color: $yellow;
            }
        }
    }
    .profile-pic{
        img{
            width: 30rem;
        }
    }
    .home-footer{
        display: flex;
        justify-content: center;
    }

    .tools-language{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        .tools-slider{
            display: block;
            margin: auto;
            width: 50%;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 0px;
            }
            .items-skills{
                display: flex;
                list-style: none;
                animation: marquee 60s linear infinite;
                li{
                    margin: 0px 30px;
                    img{
                        transform: scale(1);
                    }
                }
                &:hover{
                    cursor: pointer;
                    animation-play-state: paused;
                }
            }
        }
    }
}
//custom
@media (max-width:1435px){
    //more responsive
    .section-home{
        overflow: hidden;
        margin:30px 2px !important;
    }
    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .greetings{
        min-width: 50%;
        h1{
            font-size: 3rem;
        }
        span{
            padding: 5px 10px;
            background: $yellow;
            color: $darGrey;
            text-align: center;
            border-radius: 2vh;
            font-size: 10pt;
            margin-right: 20px;
        }
    }
    .profile-pic{
        img{
            width: 15rem;
        }
    }
}
@media (max-width:675px){
    //more responsive
    .profile{
        margin: 10% 0px;
    }
    .profile-pic{
        display: none;
    }
}


//under large
@media (max-width:$largeDevices){

    .social-media{
        margin-top: 20px;
        i{
            cursor: pointer;
            padding: 20px;
            background: $darGrey;
            color: $darkWhite;
            font-size: 15pt;
            margin-right: 20px;
            &:hover{
                color: $yellow;
            }
        }
    }
    .home-footer{
        display: flex;
        justify-content: center;
    }

    .tools-language{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        .tools-slider{
            display: block;
            margin: auto;
            width: 50%;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 0px;
            }
            .items-skills{
                display: flex;
                list-style: none;
                animation: marquee 60s linear infinite;
                li{
                    margin: 0px 30px;
                    img{
                        transform: scale(1);
                    }
                }
                &:hover{
                    cursor: pointer;
                    animation-play-state: paused;
                }
            }
        }
    }
}

@keyframes marquee{
    0%{
        transform: translate(-102%);
    }
    100%{
        transform: translate(102%);
    }
    0%{
        transform: translate(-100%);
    }
}